<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Treasure Hunter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="container">
    <h1>Big Chungus</h1>
    <p id="loading-p"></p>
    <div id="canvas-div"></div>
    <p>Arrow keys to move. Defeat as many opponents as possible.</p>
    <p>Made with <span title="love">❤️</span> using
      <a href="https://github.com/pixijs/pixi-typescript"
         title="PIXI TypeScript repo">
        PIXI.js</a>
      and
      <a href="https://github.com/Microsoft/TypeScript"
         title="TypeScript repo">
        TypeScript</a>.
    </p>
  </div>
</body>
</html>
