body {
  background-color: rgb(23, 24, 28);
  color: rgb(216, 213, 209);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: rgb(77, 172, 253);
}

h1 {
  font-family: "Orbitron Black";
  text-align: center;
}

canvas {
  width: 100vw;
  max-width: 100vh;
}

ul {
  margin-top: 0.5em;
}

.container {
  max-width: 100vh;
  margin: auto;
}

#canvas-div {
  text-align: center;
}

.pre-list {
  margin-bottom: 0.5em;
}
